.element-box {
  height: 80px;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.circle {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #8b5cf6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle::before {
  content: "";
  position: absolute;
  top: 30px;
  left: calc(50% + 0px); /* Adjust the position of the line */
  height: 50px;
  width: 2px;
  background-color: #8b5cf6;
}
